	  	<div>Code links:</div>
	  	<ul>
	  	{% assign sortedPosts = site.categories["Algorithm"] | sort: 'title' %}
	  	{% for post in sortedPosts %}
	  		<li><a href="{{ site.baseurl }}/index.html#{{ post.hashlink }}">{{ post.linktext }}</a></li>
	  	{% endfor %}
	  	</ul>
	  	<div>CUDA:</div>
	  	<ul>
	  	{% assign sortedPostsCUDA = site.categories["CUDA"] | sort: 'title' %}
	  	{% for post in sortedPostsCUDA %}
	  		<li><a href="{{ site.baseurl }}/index.html#{{ post.hashlink }}">{{ post.linktext }}</a></li>
	  	{% endfor %}
	  	</ul>
